language: python
sudo: false
python:
  - "3.6"

install:
  - python setup.py install
  - pip install -r requirements-dev.txt
  - pip install codecov

script:
  - make cov

after_success:
  - codecov

deploy:

  # Deploy to PyPI
  provider: pypi
  user: $PYPI_USER
  password: $PYPI_PASSWD
  distributions: "sdist"
  on:
    branch: master

#  - provider: script
#    script: deploy/pypi.sh
#    skip_cleanup: true
#    on:
#      branch: master
